aws-cdk-lib==2.50.0
aws-requests-auth
boto3
boto3-stubs
cdk-ec2-key-pair
cfn-lint
configparser
constructs>=10.0.0,<11.0.0
cryptography
mdutils
mock
pyOpenSSL==22.1.0
pytest-cov
pytest-mock
pyyaml
requests
responses
dagster
pandas
numpy
s3fs
dagster-aws
dagster-cloud
dagstermill